@import "tailwindcss";

:root {
  --bg: #0a0a0b;
  --surface: #131316;
  --border: #212126;

  --text: #fafafa;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;

  --accent: #6366f1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
}

::selection {
  background: var(--accent);
  color: white;
}
